body {
  padding: 0;
  margin: 0;
  background-color: #e94d40;
}
h1,
h2 {
  padding: 0;
  margin: 0;
  color: #e94d40;
  font-size: 1.6em;
  text-align: center;
}
.container {
  background-color: #fff;
  padding: 10px;
  width: 70%;
  margin: auto;
}

header{
  padding: 0px;
  background-color: #fff;
  text-align: center;
}

nav {
  background-color: #e94d40;
  padding: 20px;
  text-align: right;
}
a:link,
a:visited {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #333;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  font-size: 90%;
}

.banner{
    background-image: url("../img/small/baked_cake_compressed.jpg");
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    height: 300px;
}

.banner img{
    width: 100%;
    height: auto;
}

main{
    background-color: white;
}

.gallery{
    max-width: 70%;
}

.items {
    width: 70%;
    display: flex;
    gap: 3px;
}

.items img {
    width: 100%;
    height: auto;
}

.prices {
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table, tr, th, td {
    border: 1px solid #0C243C
}

footer {
    background-color: #0c243c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    margin: auto;
}
